@media (min-width: 992px) and (max-width: 1199px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .navbar-toggler {
        background-color: #95a844;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }


}

@media (min-width: 320px) and (max-width: 767px) {
    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }
    .post-favourite a,
    .post-comments a {
        margin-right: 7.5px;
    }

    .post-author a,
    .top_header_area .top_social_bar > a {
        margin-right: 15px;
    }

    .post-author a::after {
        right: -7px;
    }
    .footer-social-area .single-icon span {
        display: none;
    }
    .footer-social-area .single-icon:last-of-type > a > i {
        padding-right: 0;
    }
    .top_header_area .signup-search-area .search_button {
        margin-left: 15px;
    }
    .navbar-toggler {
        background-color: #95a844;
        width: 100%;
        color: #fff;
        margin-bottom: 30px;
    }
    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }
    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding: 7.5px 30px;
    }
    .pagination-area .page-status {
        margin-top: 30px;
    }
    #googleMap {
        height: 300px;
    }
    .comment-wrapper .comment-author {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .single_comment_area::after {
        display: none;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 30px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 10px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 15px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #googleMap {
        height: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pagination-area .page-status {
        margin-top: 0;
    }
    #googleMap {
        height: 500px;
    }
    .comment-wrapper .comment-author {
        margin-right: 60px;
        width: 70px;
        height: 70px;
    }
    .single_comment_area::after {
        display: block;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 60px;
    }
    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 30px;
    }
    .single_comment_area ol li.single_comment_area {
        margin-left: 130px;
    }
}